nav {
    background-color: #333;
}
nav ul {
 list-style-type: none;   
 margin: 0;
 padding: 0;
 overflow: hidden;
}

nav li{
    float: left;
}
nav li a {
display: block;
align-items: center;
color: white;
padding:10px 15px;
text-decoration: none;
}
nav li a:hover{
    background-color: #111;
}