body {
    overflow: hidden;
    background-color: #d49f00;

}

.cards {
   
    position: relative;
    width: 300px;
    height: 450px;
    border: 10px solid #000;
    margin: 50px auto 0 auto;
    box-shadow: inset 10px 0px 15px 0px rgba(0, 0 0, 0.1, );
    background-color: #e6f0e6;
}

.cards .container {
    width: 80%;
    height: 80%;
    margin: auto;

}


.strike {
    text-decoration: none;
}

.cards .container #head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    margin: 60px auto 60px auto;
    color: #000;
    font-weight: 800;
}

.cards p {
    font-size: 1.1em;
    line-height: 1.2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0984e3;
    font-style: italic;
    text-align: center;
    margin: 30px auto 0px auto;

}

.cards .front {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -10px 0px 0px -10px;
    border: 10px solid #000;
    backface-visibility: hidden;
    background-color: #ecf0f1;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(800px) rotateY(0deg);
    transition: all .8s ease-in-out;
    
}
.cards .front img{
    height: 47vh;
    width: 70vw;
}


.cards:hover .front {
    transform: perspective(800px) rotateY(-170deg);
    background-color: #ecf0f1;

}

.cards .back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -10px 0px 0px -10px;
    border: 10px solid #000;
    backface-visibility: visible;
    transform-origin: 0% 50%;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    transform-style: preserve-3d;
    transition: all 0.8s ease-in-out;
    background-color: #ecf0f1;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);

}
.cards:hover .back{
    transform: perspective(800px) rotateY(-170deg);
    box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3),
    inset 2px 0px 15px 0px rgba(0, 0 0, 0.1,);
    background-color: #ecf0f1;
}